* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

#lo-img{
    height: 12%;
    width: 12%;
}

.header {
    background: #fff;
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.hero {
    background: #f2f5ee;
    padding: 80px 0;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.hero img {
    width: 100%;
    border-radius: 8px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1f3d36;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size: 14px;
    /* margin-bottom: 12px; */
}
a{
    text-decoration: none;
    font-size: 10px;
}
.btn {
    background: #1f3d36;
    color: #fff;
    padding: 12px 25px;
    margin-top: 5%;
    border: none;
    cursor: pointer;
}

.card {
    padding: 10px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h4 {
    margin-top: 10px;
}

.footer {
    background: #173c36;
    color: #fff;
    padding: 60px 0 20px;
    width: 100%;
}
 
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer ul {
    list-style: none;
}

ul li {
    font-weight:lighter;
    font-size: small;
    padding-top: 3%;
}

.copy {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Main Section */
.page-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

/* Top text row */
.text-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

/* Left heading */
.heading h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.25;
}

/* Right description */
.description {
  max-width: 520px;
}

.description p {
  font-size: 14px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 12px;
}

.description a {
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

/* Image section */
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .text-row {
    flex-direction: column;
    gap: 20px;
  }

  .heading h1 {
    font-size: 28px;
  }
  #lo-img{
    height: 30%;
    width: 30%;
  }
  #hero-image {
    height: 300px;
    width: auto;
    border-radius: 8px;
}
}
